
body{
    background-image: url("./imagenes/black.jpg");
    background-attachment: fixed;
    /*uso los puntos para salir de los directorios */
}
h2{
    color: rgb(4, 4, 83);
}
h4,h3,p,li,label{
    color: white;
}
.header{
    background-color:#141d26;
}
.menu{
    background: #243447;
    border: 1px solid black;
}
.to-black{
    border: .5rem solid #141d26;
    border-radius:50%;

}
.to-green{
        border: .5rem solid green;
        border-radius:50%;

}
.container {
    display: flex;
    flex-direction:row;
    padding:0 2%;
    margin: 1% 0;
    background: #243447;
    border-radius: 5px;
}
