*{
    margin: 0px;
    padding: 0px;
}
.clearfix{
    float:none;
    clear: both;/* con esto limpio los flotados*/
}
body{
    background-image: url("./imagenes/background1.jpeg");
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 0 5%;
    /*uso los puntos para salir de los directorios */
}
.container {
    display: flex;
    flex-direction:row;
    padding:0 2%;
    margin: 1% 0;
    background: white;
    border-radius: 5px;
}
.container article {
    flex: 70%;
    order:1;
    padding: 2%;
}
.container aside{
    flex: 30%;
    order:2;
  }
.pie{
    display: block;
    width: 100%
}
.header{
    font-size: 2rem;
    color:whitesmoke;
    background-color: #141d26;
    text-align: left;
    padding-left: 10px;
}

.header h4{
color:rgb(191, 183, 183);
margin-top: 0.1%;
text-shadow: 1px 1px 1px  black;
}
.header img{
width: 30%;
height: auto;
padding-top: 1%;
margin-right: 2%;
float: right;
padding-bottom: 10px;
}

.menu{
    background: #141d26;
    padding:5px;
}
.menu  li {
    list-style: none;
    display: inline-block;
    transition: all 300ms;
}
.menu a{
    color: white;
    margin:auto 1.2rem;
    text-decoration: none;
}
.menu  li:hover{
    text-shadow: 3px 3px 3px white;
    font-size: 1.2rem;
}
.post{
    text-align: justify;
    max-width: 90%;
    padding: 0px 5%
}
.post h3{
    color: rgb(4, 4, 83);
    font-size:2.5em;
    margin-bottom: 1rem;
}
.span-mas{
    display: none;
    margin: 0;
}
.boton-mas:click .span-mas{
 display: inline-block;
}
.sidebar{
    margin-left: 5%;
}
.sidebar img{
    max-width: 300px;
    border-radius: 50%;
    float: right
}

.sidebar form{
    margin-top: 1rem;
    margin-left: 1%;
    }

.sidebar input{
    width: 60%;
    float: right;
}

.sidebar input[type="submit"]{
    max-width: 80px;
    margin-top: 2%;
    cursor: pointer;
    border-radius: 5px;
    box-shadow:1px 1px 2px rgb(48, 46, 46);
    font-weight: bolder;
}

.bx-wrapper, .bxviewport{
    height: 350px ;
    width: 450px;
    margin: 10% auto;
}

#texto{
   margin: auto 10%;
   padding: 0px 13%;
}
#reloj{
    background:whitesmoke;
    border-radius: 2px;
    margin: auto 15%;
    padding: 0px 19%;
}
.subir{
    color: black;
    text-decoration: none;
    float: right;
}
#selector-theme{
    position:fixed;
       top: 50%;
       width: 1.4rem;
       height: 3.7rem;
       background-color: rgba(51,51,51,0.5);

   }
   #to-blue,#to-black, #to-green{
       width: 0.8rem;
       height: 0.8rem;
       display:block;
       border: 1px solid whitesmoke;
       margin: 4px auto;
   }
#box{
    flex-flow: column;
    width: 80%;
    margin: 5px 5%;
}

.help-block, .form-error{
    margin: 5% 5%;
    color: red;
    float: left;
    font-size: 1rem;}

.form input{
    float: right;
    width: 50%
}

@media (max-width: 600px) {
    body,header, footer, .container{
        flex-flow: column;
        padding: 0px;
        margin: 0px;
    }

    .container article, .container aside {
    order:0;
    padding: 0px;
    margin: 0px;
        }

    .bx-wrapper, .bxviewport img{
    max-height: 300px;
    max-width: 300px;
    padding: 0%;
}
 #texto, #reloj{
     margin: 0px;
     padding: 2% 10%;
 }
}
