
body{
    background-image: url("./imagenes/green.jpg");
    background-attachment: fixed;
    color: rgb(16, 9, 32) !important;
    /*uso los puntos para salir de los directorios */
}
h2,h4,h3,p,li,label{
    color: rgb(4, 4, 83);
}
.header{
    
    background-color: #0f5649;}
   
.menu{
    background: #347257; 
    border: 1px solid black ;
}
.to-black{
    border: .5rem solid black;
    border-radius:50%;
    box-shadow: #ccc;
}
.to-green{
    
        border: .5rem solid #347257;
        border-radius:50%;
        box-shadow: #ccc;
}
.subir{
    color: rgb(4, 4, 83);
    text-decoration: none;
    float: right;
}